<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/assets/login.css" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>Login</title>
    <style>
      body {
        background-image: linear-gradient(
          to right,
          rgb(250, 11, 178),
          rgb(201, 79, 250),
          rgb(11, 55, 250)
        );
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Basic Banking System</h1>
      <hr />
      <footer>@sparks_foundation</footer>
      <div>
        <div class="flexbox d-flex flex-column">
          <h2 class="heading m-4">Login</h2>
          <%- include ('./partials/messages') %>
          <form action="/login" method="POST">
            <div class="input-group mb-3">
              <div class="input-prepend">
                <span class="img1 input-group-text display-2" id="basic-addon1">
                  &#128100;
                </span>
              </div>
              <input
                type="text"
                class="form-control"
                name="username"
                id="username"
                placeholder="Username"
                autocomplete="off"
                value="<%= typeof username != 'undefined' ? username : '' %>"
              />
            </div>
            <div class="input-group mb-1">
              <div class="d-flex input-prepend">
                <span class="input-group-text" id="basic-addon1">
                  &#128274;
                </span>
              </div>
              <input
                type="password"
                class="form-control"
                name="password"
                id="password"
                placeholder="Password"
                autocomplete="off"
                value="<%= typeof password != 'undefined' ? password : '' %>"
              />
            </div>
            <!-- <a href="#" class="btn btn-outline-danger btn-sm mr-2">
              Forgot password?
            </a> -->
            <button class="login btn btn-success mt-4 mb-4" type="submit">
              LOGIN
            </button>
            <p>
              Don't have an Account?
              <a href="/signup" class="badge badge-light p-2 mb-3 ml-1">
                Sign Up
              </a>
            </p>
          </form>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
