@import "./login.css";
.flexbox p {
  text-align: left;
  justify-content: left;
  align-items: unset;
}
.flex {
  justify-content: center;
}
.flex .history {
  position: absolute;
  left: 15%;
  top: 4%;
}
